* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Roboto', sans-serif;
}

header {
    background: #1f2937; 
    color: white;
}

.navbar a:hover {
    color: #3882F6;
}

.action-sign-up,
 .sign-up:hover {
  background-color: #2563EB; 
  border-color: #2563EB;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;

}

.navbar .logo {
    font-size: 24px;
    font-weight: bolder;
}

.hero-img img {
    max-width: 100%;
    height: auto; /*maintains original aspect ratio */
    object-fit: contain; /*scales img without stretching it*/
    display: block; /*removes space under img */
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F3F4F6;
}

.hero-text p {
    font-size: 18px;
    color: #D1D5DB;
}

.sign-up {
    text-decoration: none;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block; /*inline item will not allow vertical margins*/ 
    margin-top: 13px;
}

.navbar,
.hero {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.hero {
    padding: 100px 20px;
    flex-wrap: wrap;
    gap: 50px;
}

.hero-text,
.hero-img {
   flex: 1 1 400px;
   /* border: 2px solid red; */
}

.info {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
    padding: 50px 20px 125px;
    /* border: 2px solid red; */
}

.item-img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.info-heading {
    font-size: 40px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 80px 0 0;
}

.info > * {
    flex: 1 1 300px;
    /* border: 2px solid red; */
}

.item-text {
    text-align: center;
    padding: 10px;
    color: #4B5563;
}

.item {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 125px 20px;
    border-radius: 5px;
}

.quote-container{
    /* border: 2px solid red; */
    max-width: 900px;
    text-align: left;
    margin: 0 auto;
    
}

.quote-text {
    font-size: 32px;
    font-weight:300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: block;
    text-align: right;
}

.action-heading {
    font-size: 32px;
}

.action-info {
    font-size: 18px;
    font-weight: 350;
}

.action-sign-up {
    text-decoration: none;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    font-size: 18px;    
}

.call-to-action {
    background-color: #3882F6;
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 20px;

}

.action-container {
    padding: 125px 0;
}





